<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!--JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Font Awesome Icon Library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        
        {% load static %}
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'comic/style.css' %}">
        <!--JS-->
        <script src="{% static 'comic/script.js' %}"></script> 

        <title>Comic Book</title>
        
    </head>
<body>
        <div class="col-12">
            <a class= "title-link" href="{% url 'comic:index' %}"><h1 class="title">ComicBook</h1></a>
            <ul class="nav nav-tabs">
                <a class="navbar-brand mb-0 h3" > Details </a>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" >
                    <img class="imgdetail" src={{ image.original_url }} />
                    <!--Character-->
                    <h3 class= "titledetail"> Character </h3>
                    <ul class="list-group list-group-flush">
                    {% for name in names %}
                        <p class= "elementdetail">{{ name }}</p>
                    {% endfor %}
                    </ul>
                    <!--Team-->
                    <h3 class= "titledetail"> Team </h3>
                    <ul class="list-group list-group-flush">
                    {% for member in team %}
                        <p class= "elementdetail">{{ member }}</p>
                    {% endfor %}
                    <!--Location-->
                    <h3 class= "titledetail"> Location </h3>
                    <ul class="list-group list-group-flush">
                    {% for element in location %}
                        <p class= "elementdetail">{{ element }}</p>
                    {% endfor %}
                </div>
            </div>
    </body>
</html>