body {
    background-color: #E2E6EA;
    font-family: 'Kulim Park', sans-serif;
}

.title{
    text-align:center;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
}

.title-link:hover {
    text-decoration:none;
    color: black;
    font-family: 'Titillium Web', sans-serif;
}

.title-link:link {
    text-decoration:none;
    color: black;
    font-family: 'Titillium Web', sans-serif;
}

.title-link:visited {
    text-decoration:none;
    color: black;
    font-family: 'Titillium Web', sans-serif;
}

.title-link:active {
    text-decoration:none;
    color: black;
    font-family: 'Titillium Web', sans-serif;
}

.imglist {
    max-height: 200px;
}

.imgdetail {
    float:right; 
    margin-left: 5px; 
    margin-top: 5px; 
    border-radius: 10px;
    max-height: 500px;
}

.titledetail {
    border-bottom: 1px solid black; 
    padding-bottom: 10px; 
    margin-top: 5px;

}

.elementnav {
    font-family: 'Noto Sans', sans-serif;
}

.elementdetail {
    margin-bottom: 5px
}