body {
    background-color: #E2E6EA;
}

.title{
    text-align:center;
    text-decoration: none;
}

.title-link:hover {
    text-decoration:none;
    color: black;
}

.title-link:link {
    text-decoration:none;
    color: black;
}

.title-link:visited {
    text-decoration:none;
    color: black;
}

.title-link:active {
    text-decoration:none;
    color: black;
}

.imglist {
    max-height: 200px;
}

.imgdetail {
    float:right; 
    margin-left: 5px; 
    margin-top: 5px; 
    border-radius: 10px;
    max-height: 500px;
}

.titledetail {
    border-bottom: 1px solid black; 
    padding-bottom: 10px; 
    margin-top: 5px
}

.elementdetail {
    margin-bottom: 5px
}